<h1 class="animated fadeIn fast">About comics app</h1>
<hr>
<div class="animated fadeIn">
    <p>
        About Comics app is a publisher of a unique and eclectic assortment of comic books, books about comics, and other things that are just plain interesting. Some of our most popular lines include:
    </p>
    <ul>
        <li>
            The Negro Motorist Green Book – Jim Crow-era travel guides for African Americans
        </li>
        <li>
            Nun cartoons! – 1950s cartoons from Roman Catholic publications
        </li>
        <li>
            Comic book collections – including work by Kurt Busiek, Bill Mumy & Miguel Ferrer, Steve Leialoha, Lela Dowling, and more
        </li>
        <li>
            Books for aspiring comics creators
        </li>
        <li>
            The work of Charles Schulz – beyond Peanuts
        </li>
        <li>
            The novels of Robert Mayer
        </li>
        <li>
            Adult coloring books of the 1960s
        </li>
    </ul>
    <p>
        We also provide custom comics services, creating original comics material or rounding up artists for special projects.
    </p>
</div>